body, html{
    height: 100%;
}

.header{
    background-color: Beige;
    height: 10%
}

.content{
    height: 80%;
}

.footer{
    background-color: Beige;
    height: 10%;
}

table, th, td,tr{
    border: 1px solid black;
    border-collapse: collapse;
    align-content: center;
    width: 450px;
    height: auto;
}

