<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <div class="header">
        <div id = "logo">
            <h1>
                <a class="mainButton" style="text-decoration-line: none; color: antiquewhite;" th:href="@{/board}">Board</a>
            </h1>
        </div>
        <nav style="position: relative; right: 3%; cursor: pointer; ">
            <a th:onclick="'location.href=' +'\'' + @{/signIn} +'\''">SignIn</a>
            <a th:onclick="'location.href=' +'\'' + @{/signUp} +'\''">SignUp</a>
            <div sec:authorize="">

            </div>
        </nav>
    </div>
</html>