<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:frament="head" th:include="@{/fragments/head}"></th:block>
<body>
<th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>

<th:block layout:fragment="content" class="content">
    <div class="login-page" >
        <form th:action="@{/user/signIn}"  method="post">
            <fieldset id="loginPage">
                <legend>Login Page</legend>
                <label for="id" style="text-align: left;">ID  </label>
                <input type="text" name="userId" maxlength="10" size="20" id="id" placeholder="아이디를 입력하세요." autofocus required >

                <br><br>
                <label for="password" style="text-align: left;">PW  </label>
                <input type="password" name="passPw" maxlength="15" size="20" id="password" placeholder="비밀번호를 입력하세요." required>
                <br><br>
                <input type="submit" value="SignIn">
                <input type="button" th:onclick="'location.href='+'\''+@{/signUp}+ '\''" value="SignUp">
            </fieldset>
        </form>
    </div>
</th:block>

<th:block layout:fragment="footer" th:include="@{/fragments/footer}"></th:block>

</body>
</html>