body, html{
    height: 100%;
    align-content: center;
    padding-top: 75px;
    margin: 0;
}

.header{
    background-color: darkslategrey;
    height: 10%;
    align-content: center;
    color: antiquewhite;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: oblique;
    font-family: auto, serif;
    font-size: larger;
    font-weight: bold;
    font-variant: small-caps;
}
header.mainButton{
    text-decoration: none;
}

.board_all{
    text-align: center;
}

.content{
    height: 80%;
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding-bottom: 110px;
}

.footer{
    background-color: whitesmoke;
    height: 110px;
    bottom: 0px;
    position: absolute;
    width: 100%;
    background-color: darkslategrey;
    text-align: center;
    font-size: 14px;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    align-content: center;
    width: 450px;
    height: auto;
    position: absolute;
    top: 32%;
    left: 3%;
}
th{
    border: 1px solid black;
}

td{
    border: 1px solid black;
}

tr{
    border: 1px solid black;
}

a.btn{
    text-decoration: none;
    font-size: 1rem;
    color: black;
    padding: 10px 20px 10px 20px;
    margin: 16px;
    display: inline-table;
    border-radius: 10px;
    transition: auto;
    font-family: revert;
    background-color: aquamarine;
    position: relative;
    left: 15%;
    top: 51%;
}

button.btn{
    text-decoration: none;
    font-size: 12px;
    color: black;
    padding: 4px 8px 4px 9px;
    margin: 7px;
    display: inline-table;
    border-radius: 10px;
    transition: auto;
    font-family: revert;
    background-color: aliceblue;
    position: absolute;
    top: 26%;
    right: 46%;
}

.delete-btn{
    font-size: 12px;
    font-family: auto;
    width: 50px;
    height: 26px;
    border-width: 1px;
    color: #3a8a9e;
    border-color: #d6bcd6;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 2px 1px 0px 0px #899599;
    text-shadow: 0px 1px 0px #e1e2ed;
    background: linear-gradient(#ededed, #bab1ba);
    transform: translateX(-50%);
    position: relative;
    left: 30%;
}

.page_wrap {
    text-align:center;
    font-size:0;
    text-align: left;
    position: absolute;
    top: 67%;
    right: 61%;
}
.page_nation {
    display:inline-block;
}
.page_nation .none {
    display:none;
}
.page_nation a {
    display:block;
    margin:0 3px;
    float:left;
    border:1px solid #e6e6e6;
    width:28px;
    height:28px;
    line-height:28px;
    text-align:center;
    background-color:#fff;
    font-size:13px;
    color:#999999;
    text-decoration:none;
}
.page_nation .arrow {
    border:1px solid #ccc;
}
.page_nation .pprev {
    background:#f8f8f8 url('css/page_pprev.png') no-repeat center center;
    margin-left:0;
}
.page_nation .prev {
    background:#f8f8f8 url('css/page_prev.png') no-repeat center center;
    margin-right:7px;
}
.page_nation .next {
    background:#f8f8f8 url('css/page_next.png') no-repeat center center;
    margin-left:7px;
}
.page_nation .nnext {
    background:#f8f8f8 url('css/page_nnext.png') no-repeat center center;
    margin-right:0;
}
.page_nation a.active {
    background-color:#42454c;
    color:#fff;
    border:1px solid #42454c;
}

.board{
    position: absolute;
    left: 4%;
}

#loginPage{
    width: 23%;
    margin: auto;
    padding: 3%;
    border: solid #008;
    text-align: center;
}