body, html{
    height: 100%;
    padding-top: 75px;
    margin: 0;
    font-style: inherit;
    font-family: dotum, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-variant: small-caps;
}

.header{
    background-color: darkslategrey;
    height: 100px;
    align-content: center;
    color: antiquewhite;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header.mainButton{
    text-decoration: none;
    cursor: pointer;
}

.board_all{
    text-align: center;
    position: relative;
    display: table;
    width: 800px;
    margin: 0 auto;
}

.content{
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding-bottom: 110px;
    margin: 0 auto;
}

.footer{
    height: 110px;
    width: 100%;
    background-color: darkslategrey;
    text-align: center;
    font-size: 14px;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    align-content: center;
    width: 800px;
    height: auto;
    margin-right: auto;

}
.tableMan{
    text-align: center;
    border: 1px solid #dddddd;
    align-content: center;
    margin-top: 100px;
    margin-left: auto;
}

.detail-button{
    margin-left: 548px;
}

.table-boss{
    width: 800px;
    margin-right: auto;
    display: table-cell;
}

th{
    border: 1px solid black;
}

td{
    border: 1px solid black;
}

tr{
    border: 1px solid black;
}

a.btn{
    text-decoration: none;
    font-size: 1rem;
    color: black;
    padding: 10px 20px 10px 20px;
    margin: 16px;
    display: inline-table;
    border-radius: 10px;
    transition: auto;
    font-family: revert;
    background-color: aquamarine;
    position: relative;
    left: 15%;
    top: 51%;
}

button.btn{
    text-decoration: none;
    font-size: 12px;
    color: black;
    padding: 4px 8px 4px 9px;
    margin: 7px;
    display: inline-table;
    border-radius: 10px;
    transition: auto;
    font-family: revert;
    background-color: aliceblue;
    /*position: absolute;*/
    top: 26%;
    right: 46%;
    cursor: pointer;
}

.delete-btn{
    font-size: 12px;
    /*font-family: auto;*/
    width: 50px;
    height: 26px;
    border-width: 1px;
    color: #3a8a9e;
    border-color: #d6bcd6;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 2px 1px 0px 0px #899599;
    text-shadow: 0px 1px 0px #e1e2ed;
    background: linear-gradient(#ededed, #bab1ba);
    transform: translateX(-50%);
    position: relative;
    left: 15%;
    cursor: pointer;
}

.page_wrap {
    font-size:0;
    text-align: left;
    top: 67%;
    right: 61%;
    text-align: center;
    margin-top:60px
}
.page_nation {
    display:inline-block;
}
.page_nation .none {
    display:none;
}
.page_nation a {
    display:block;
    margin:0 3px;
    float:left;
    border:1px solid #e6e6e6;
    width:28px;
    height:28px;
    line-height:28px;
    text-align:center;
    background-color:#fff;
    font-size:13px;
    color:#999999;
    text-decoration:none;
}
.page_nation .arrow {
    border:1px solid #ccc;
    cursor: pointer;
}
.page_nation .pprev {
    background:#f8f8f8 url('css/page_pprev.png') no-repeat center center;
    margin-left:0;
    cursor: pointer;
}
.page_nation .prev {
    background:#f8f8f8 url('css/page_prev.png') no-repeat center center;
    margin-right:7px;
    cursor: pointer;
}
.page_nation .next {
    background:#f8f8f8 url('css/page_next.png') no-repeat center center;
    margin-left:7px;
    cursor: pointer;
}
.page_nation .nnext {
    background:#f8f8f8 url('css/page_nnext.png') no-repeat center center;
    margin-right:0;
    cursor: pointer;
}
.page_nation a.active {
    background-color:#42454c;
    color:#fff;
    border:1px solid #42454c;
    cursor: pointer;
}

.board{
    text-align: center;
}

#loginPage{
    width: 23%;
    margin: auto;
    padding: 3%;
    border: solid #008;
    text-align: center;
}

.write{
    text-align:right;
    margin-left: 20%;
}

.form-inline{
    margin-top:40px;
    padding-bottom:120px;
}

.copyright {
    Text-align: right;
    font-size: 20px;
    padding-top: 80px;
    Padding-right: 20px;
}

.write_input{
    margin-left: 49px;
    margin-top: -17px;
}

.write_total{
    margin: 61px;
}

.login-page{
    margin: 61px;
}

.signup-box{
    align-content: center;
    text-align: center;
    margin: 31px;
    padding: 13px;
}

.signup-page{
    margin: 148px;
}

#SignUpPage{
    margin: 116px;
    padding: 12px;
}

.total_comment{
    text-align: center;
}

.read_comment{
    display: inline-block;
}